

.footer {
  background-color: $color-4;
  width: 100%;
  height: 209px;
  @extend %columnCenterFlex;
  position: absolute;
  z-index: 3;
  bottom: 0;

  p {
    color: $color-screen;
    font-size: $font-s;
  }
}

  .logo, .logo-footer {
    width: 122px;
    height: 40px;
    margin-bottom: $generic-size-l;
  }

  .logo-footer {
    color: $color-screen;
  }

