
$color-screen : #FFFFFF;
$color-1: #FF6060;
$color-2: #F6F6F6;
$color-3: #666666;
$color-4: #000000;


$font-xs: 10px;
$font-s: 12px;
$font-sm:13px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 18px;
$font-xxl: 24px;
$font-3xl: 36px;
$font-giant: 48px;

$fw-medium: 500;
$fw-sm-b: 600;
$fw-b: bold;


$generic-size-xs: 8px;
$generic-size-s: 16px;
$generic-size-m: 24px;
$generic-size-l: 32px;
$generic-size-xl: 40px;
$generic-size-xxl:48px;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.header {
  display: flex;
  @include js-spacebetweenFlex;
}

.main-home, .main-about, .main-Apartment {
  padding-bottom: 250px;
}

.page {
  min-height: 100vh;
  position: relative;
}

body {
  background: $color-screen;
  font-family: 'Montserrat',
  sans-serif;
  height: 100%;
  position: relative;
  .about__section {
    margin: auto;
  }
  @extend %margin-auto;

  @include breakpoint(s) {

    .main-Apartment {
      padding-bottom: 100px;
    }

    .infos {
      flex-direction: row;
      justify-content: space-between;
      margin-top: $generic-size-s;
    }

    .location-infos {
      flex-basis: 400px;
      h1 {
        font-size: $font-xxl;
      }
    }
    .location {
      font-size: $font-l;
    }

    .tags {
      width: 115px;
      height: 25px;
      border-radius: $generic-size-m;
      margin: $generic-size-s $generic-size-xs;

      p {
        padding-top: 5px;
        vertical-align: center;
        font-size: 12px;
      }
    }

    .owner-bloc {
      flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 150px;
    height: 110px;
    margin-left: 35vw;
    }

    .starSnippets-bloc {
      padding-bottom: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }

    .Apartment-Dropdown-bloc {
      display: flex;
      @include js-spaceevenlyBaseline;
      min-height: 150px;
      margin-top: 50px;
      .collapse-bloc {
        width: 40%;
        max-width: 582px;
      }
    }

    .owner-infos p {
      padding-left: 2em;
      font-size: $font-m;
    }

    .picture-owner {
      width: 56px;
    height: 56px;
    border-radius: 32px;
    }

  }


  @include breakpoint(m) {

    .navigation {
      width: 300px;
      height: 60px;
      li {
        font-size: $font-xl;
        padding-left: $generic-size-xl;
        margin-top: $generic-size-m;
      }
    }
    .logo-bloc {
      width: 210px;
      height: 68px;
      margin: $generic-size-m 0;
    }
    .cover, .cover img {
      height: 160px;
    }
    .cover h1 {
      font-size: $font-3xl;
      width: unset;
      top: 55px;
      padding-right: unset;
    }
    .Gallery {
      @include js-spaceevenlyFlex-wrap;
      background-color: $color-2;
      margin-top: $generic-size-l;
      padding: $generic-size-xl ;
      border-radius: $generic-size-m;
    .card {
      margin: 10px 10px $generic-size-xl;
    }
    }

    .title-conditions {
      p {
        font-size: $font-l;
      }
    }

    .collapse-description-active {
      p, li {
        font-size: $font-l;
      }
    }

    .carousel-counter {
      display: block;
    }

    .footer p {
      font-size: $font-m;
    }
  }

  @include breakpoint(l) {

    .navigation {
      width: 350px;
      li {
        font-size: $font-xxl;
      }
    }
    .header {
      margin: 20px auto 50px;
      width: 90%;
    }

    .cover {
      h1 {
        top: 85px;
        font-size: $font-giant;
      }
    }
    .cover, .cover img {
      height: 223px;
    }
    .cover2 {
      max-width: 1240px;
    }

    .cover, .cover2 {
      margin-bottom: $generic-size-xxl;
    }

    .Gallery {
      height: auto;
      .card {
        margin-right:0px;
      }
    }
    .card, .card img, .linear-car {
      height: 340px;
      max-height: unset;
    }

    .carousel-picture {
      height: 415px;
    }

    .about__section {
      max-width: 1023px;
    }

    .collapse-bloc {
      width: 100%;
    }

    .title-conditions {
      height: $generic-size-xxl;
      p {
        font-size: $font-xxl;
      }
    }

    .main-Apartment {
      padding-bottom: 500px;
    }


    .apartment-block {
      width: 100%;
    }

    .infos {
      margin-top: $generic-size-l;
      flex-wrap: nowrap;
    }

    .location-infos {
      flex-basis: 600px;
      margin-left: $generic-size-xs;
      h1 {
        font-size: $font-3xl;
      }
    }

    .location {
      font-size: $font-xl;
    }

    .tags p {
      font-size: $font-m;
    }

    .starSnippets-bloc {
      padding-bottom: unset;
      img {
        width: $generic-size-l;
        height: $generic-size-l;
      }
    }
    .owner-bloc {
      margin-left: 0;
      max-width: 200px;
    }

    .owner-infos {
      p {
        font-size: $font-xl;
        padding-left: unset;
        padding-right: $generic-size-xs;
      }
    }

    .picture-owner {
      width: 64px;
      height: 64px;
    }

    .Apartment-Dropdown-bloc {

      .collapse-bloc {
        width: 60%;
        max-width: 482px;
      }

      .collapse-description-active  {

        border-radius: 10px;
        p {

          font-size: $font-xl;
          font-weight: 400;
        }
      }
    }

    .footer {
      left: 0;
      right: 0;
      p {
        font-size: $font-xl;
      }
    }

    .header, .cover, .Gallery, .carousel-bloc, .section__Apartment  {
      max-width: 1240px;
    }

    .error_bloc {
      height: 70vh;

    }

    .error-li {
    font-size: $font-xl;
    margin-top: 120px;
  }

    .error-number {
      img {
        width: unset;
        height: unset;
        margin: 0;
      }
      margin-bottom: $generic-size-xxl;
    }

    .error-explanation {
      p {
        font-size: $font-3xl;
        margin: auto;
        width: unset;
        margin-bottom: 60px;
        padding: unset;
      }
    }
  }

  @include breakpoint(xl) {
    .header {
      width: 100%;
      margin: 35px auto 50px;
    }

    .logo-bloc {
      margin: 0;
    }

    .navigation {
      margin-right: 0;
      align-self: unset;
    }

    .Apartment-Dropdown-bloc {

      justify-content: space-between;

      .collapse-bloc {
        width: 100%;
        max-width: 582px;
        margin: 0;
      }

    }

    .footer {
      p {
        font-size: $font-xxl;
      }
    }
  }
}


li {
  list-style-type: none;
  font-size: $font-s;
}

